.some{
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 20px; */
    justify-content: center;
    align-items: center;
}

.car{
    margin: 5px;
    padding: 3px;
    border: black 2px solid;
    width: 300px;
    height: 450px;
    box-shadow: blue 3px 3px 5px, blue -3px -3px -5px;
}
.img{
    margin-top: 20px;
    transition: 0.4s;

}
.card:hover{
    box-shadow: none;
}