.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image{
    width: 250px;
    height: 250px;
    margin-top: 20px;
    transition: .4s;
}
.image:hover{
    box-shadow: black 3px 3px 5px, black -3px -3px 5px;

}
.child-card:hover{
    box-shadow: none;
}

.child-card{
    width: 350;
    /* height: 250; */
    margin: 15px;
    box-shadow: black 3px 3px 5px , black -3px -3px 5px;
    transition: .5s;

}